<h3>Directions</h3>
<%= link_to(image_tag('map540.jpg'),image_path('map1024.jpg')) %>
<p>Directions to Johnston Woods Pavilion</p>
<ul>
<li>Take I-75, exit 20 to 64/40 by-pass. 
<li>Take 1st exit, South Lee Hwy/US 11 South. 
<li>Turn left.
<li>Turn left at the Cleveland Speedway
<li>Take the 1st road to the left on Humphries Bridge Road
<li>Cross the bridge and take the first right onto Stone Lake Road
<li>Follow Stone Lake Road until you reach the lake
<li>At the lake, veer to the left and follow the road until you come to the Johnston Woods gate
<li>Follow the signs to the Pavilion
</ul>
<p>
<b>Johnston Woods Pavilion</b><br/>
850 Stone Lake Road SW<br/>
McDonald, TN 37353<br/>
<br/>
<!--<a href='http://goo.gl/maps/qZh8E'>Google Map</a>-->
<a href='http://binged.it/N91L6q'>Bing Maps</a>
</p>
