<h3>Welcome!</h3>
<!--<p>Thanks for visiting our wedding site. Be sure to <%= link_to 'let us know', 'rsvp' %> whether you're coming, then check out our <%= link_to 'story','story' %>.</p>
-->
<!--<p>Thanks for visiting our wedding site. We're still working on it, so check back soon for more photos, our story, directions, and more. </p>-->
<!--<p>Thanks!</p>-->
<p>Welcome to our wedding website! Thank you for visiting, we hope that you will find all the information you need about our wedding here. Please keep checking in as we will be adding new things regularly!</p>
<p>While you're here, go ahead and <%= link_to 'RSVP','rsvp' %> and you can also read our <%= link_to 'story','story' %> if you wish. We are so excited to spend our special day with you, our wonderful family and friends! We hope you can make it!</p>
<p>-Stephen&Rebecca</p>
