<h3>Welcome!</h3>
<!--<p>Thanks for visiting our wedding site. Be sure to <%= link_to 'let us know', 'rsvp' %> whether you're coming, then check out our <%= link_to 'story','story' %>.</p>
-->
<p>Thanks for visiting our wedding site. We're still working on it, so check back soon for more photos, our story, directions, and more. </p>
<p>Thanks!</p>
<p>-Stephen&Rebecca</p>
