<h3>répondez s'l vous plaît</h3>
<p>We will have a nifty rsvp form up here pretty soon, but it's not quite done yet.</p>
<p>In the mean time, you can check out our <%= link_to 'story','story' %> if you wish.</p>
